@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/Gilroy-Extrabold.woff2') format('woff2'),
        url('gilroy/Gilroy-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/Gilroy-Bold.woff2') format('woff2'),
        url('gilroy/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('gilroy/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Semibold.woff2') format('woff2'),
        url('Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'Gilroy';
    background: #f7f7f7;
}

/* атомарные классы */
.btn_area {
    display: flex;
    justify-content: center;
    padding-top: 13px;
}
.btn {
    background: #212121;
    text-decoration: none;
    color: white;
    text-align: center;
}
.btn.s1 {
    font-size: 1.5em;
    padding: 17px 33px;
}
.btn.s2 {
    flex-grow: 1;
    margin-right: 16px;
    font-size: 1.13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn.s4 {
    display: flex;
    justify-content: center;
    /* height: 48px; */
    align-items: center;
    font-size: 1.12em;
    padding: 14px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.block {
    margin-top: 100px;
    margin-bottom: 100px;
}
.title_area {
    text-align: center;
}
.title_area.s1 {
    text-align: left;
}
.title_area .descr {
    font-size: 18px;
    font-weight: 700;
    color: #808080;
    letter-spacing: 0.24em;
}
.title_area h2 {
    font-size: 56px;
    font-weight: 800;
    color: #212121;
    margin-top: 11px;
}

/* основные стили */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#digits {
    background: #212121;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}
#digits .container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
#digits .title {
    color: #FFF;
    font-size: 4em;
    font-weight: 800;
}
#digits .discr {
    color: #808080;
    font-size: 1.2em;
    font-weight: 500;
}

#service .wrap {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 24px;
}
#service .item {
    border: 1px solid #808080;
    padding: 24px;
    background: #FFF;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* text-align: center; */   
}
#service h3 {
    font-size: 1.6em;
}
#service .descr {
    color: #808080;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 24px;
}
#service a.btn {
    display: block;
    background: #212121;
    padding: 14px;
    color: #FFF;
    text-decoration: none;
}
#service .item.active {    
    background: #212121;
}
#service .item.active h3 {
    color: #FFF;
}
#service .item.active .btn {
    background: #FFF;
    color: #212121;
}


#about .container {
    display: grid;
    grid-template-columns: 1fr 510px;
    justify-items: end;
    gap: 78px;
}
#about .title_area {
   text-align: left;
}
#about .wrap {
    font-size: 1.125em;
    line-height: 1.36em;
}
#about a {
    font-size: 1.53em;
    display: inline-block;
    padding: 16px 32px 16px 32px;
}


#process .wrap {
    display: flex;
}
#process .col.c1 {
    padding-right: 78px;
}
#process .col.c2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#process .inner {
    display: flex;
}
#process .digit {
    border: 4px solid black;
    font-size: 2.5em;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
}


#houses .wrap {
    display: flex;
    gap: 24px;
    padding-top: 20px;
}
#houses .item {
    position: relative;
    background: white;
}
#houses .btn.s3 {
    position: absolute;
    z-index: 1;
    left: 16px;
    top: 18px;
    font-size: 0.9em;
    padding: 1px 9px 4px 8px;
}
#houses .inner {
    display: grid;
    padding: 24px;
    border: 1px solid #CCC;
    border-width: 0 1px 1px 1px;
}
#houses .preview {
    display: block;
    width: 100%;
}
#houses .row.c1 {
    font-size: 1.1em;
    font-weight: 500;
    padding-top: 1px;
}
#houses .digit {
    font-size: 2em;
    font-weight: 700;
}
#houses .per {
    font-size: 1.14em;
    font-weight: 500;
}
#houses .row.c3 {
    display: flex;
    align-items: center;
    padding-top: 16px;
    font-weight: 700;
    font-size: 1.13em;
    padding-bottom: 8px;
    padding-left: 4px;
}
#houses .row.c4 {
    display: flex;
    font-size: 1.1em;
    justify-content: space-between;
    padding-top: 3px;
}
#houses .row.c4 .col {
    display: flex;
}
#houses .label {
    padding-left: 4px;
}
#houses .row.c5 {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}
#houses .like {
    background: white;
    border: 2px solid #212121;
    padding: 12px 13px 12px 13px;
    box-sizing: border-box;
}
#houses .item:hover {
    background: #212121;
    color: white;
} 
#houses .item:hover .btn.s2 {
    background: white;
    color: #212121;
}
#houses .item:hover .like {

}
#houses .item:hover .icon {

}


#blog .wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
#blog .item {
    background: white;
}

#blog .preview {
    display: block;
    width: 100%;
}
#blog .inner {
    border: 1px solid#ccc;
    border-width: 0 1px 1px 1px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}
#blog .row.c1 {
    display: flex;
    color: #808080;
    justify-content: flex-start;
    font-size: 1.12em;
    padding-bottom: 8px;
}
#blog .col {
    display: flex;
    align-items: center;
}
#blog .col.c1 {
    padding-right: 16px;
}
#blog .label {
    padding-left: 4px;
}
#blog .row.c2 {
    color: #212121;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.33em;
    padding-bottom: 24px;
}
#blog .item:hover {
    background: #212121;

} 
#blog .item:hover .row.c2 {
    color: white;
}
#blog .item:hover .btn.s4 {
    color: #212121;
    background: white;
}

#reviews .title {
    display: flex;
    justify-content: space-between;
}
#reviews .slider {
    padding-top: 14px;
}
#reviews .wrap {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    padding-top: 22px;
}
#reviews .item {
    background: white;
    border: 1px solid grey;
    padding: 30px 30px 30px 32px;
}
#reviews .info {
    font-size: 1.12em;
    line-height: 1.45em;
}
#reviews .inner {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}
#reviews .exp {
    display: flex;
    align-items: center;
}
#reviews .name {
    font-size: 1em;
    font-weight: 800;
}
#reviews .preview {
    border-radius: 50%;
}
#reviews .rating {
    display: flex;
}
#reviews .star_area {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}


#staff .wrap {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    padding-top: 20px;
    padding-bottom: 40px;
}
#staff .col {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#staff .photo {
    border-radius: 50%;
    padding: 24px 84px 23px 84px;
}
#staff .inner {
    display: flex;
    flex-direction: column;
    padding: 0px 23px 23px 23px;
}
#staff .name {
    text-align: center;
    color: #212121;
    font-weight: 800;
    font-size: 1.52em;
    padding-bottom: 10px;
}
#staff .status {
    text-align: center;
    color: #808080;
    font-size: 1.13em;
    padding-bottom: 25px;
}
#staff .col:hover {
    background: #212121;
}
#staff .col:hover .name {
    color: white;
}
#staff .col:hover .btn_area {
    background: white;
    color: #212121;
}


#touch .wrap {
    display: flex;
    gap: 78px;
}
#touch form.col.c1 {
    background: white;
    border: 1px solid #ccc;
    padding: 32px;
}
#touch form.col.c1 * {
    display: block;
}

#touch form.col.c1 .field {
    border: 1px solid #212121;
    padding: 10px;
    font-family: 'Gilroy';
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;


}
footer {
    background: #212121; 
}

footer .container {   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
}
footer .title {
    color: white;
}
footer .row {
    color: #808080;
}